/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  margin: 0 auto;
  background-image: url(images/b114.jpeg);
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* header */
header {
  background-image:url(img/top.jpeg); 
  height: 60vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  padding-top: 20px;
}

.header-left {
  width: 60%;
  margin-left: 30%;
}

.header-right {
  padding-top: 2%;
  padding-right: 3%;
  width: 50%;
}

.header-right a {
  text-align: right;
  display: block;
  font-size: 95%;
  flex-wrap: nowrap;
}

.insta {
  width: 60px;
}

.sns {
  display: flex;
  justify-content: flex-end;
}

.sns a {
  margin: 20px 20px;
  cursor: pointer;
}

.header-right p {
  text-align: right;
  float: right;
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  flex-direction: column;
}

.logo {
  width: 350px;
  height: 150px;
  margin: 80px auto 10px;
  display: block;
}

.navigation {
  position: fixed;/*fixedを設定して固定*/
  z-index: 999;/*最前面へ*/
  top:0;/*位置指定*/
  left:0;/*位置指定*/
  right: 0;
  background-color: black;
  opacity: 0.6;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav li {
  margin: 10px 60px 10px 60px;
  font-size: 120%;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
}

.top-title {
  position: absolute;
  top: 50%;
  left: 21%;
  width: 800px;
}


/* main部分 */
.main {
  text-align: center;
}

.title {
  margin-top: 50px;
  font-size: 350%;
}

/* contents */
.contents {
  width: 1100px;
  margin: 50px auto 100px;
}

.company-img {
  width: 100%;
  margin-top: 50px;
}

.company-img2 {
  width: 100%;
  margin-top: 100px;
}

.message {
  font-size: 350%;
  margin-bottom: 10px;
  color: black;
}

.concepts p {
  flex-wrap: wrap;
  width: 700px;
  margin: 100px auto 100px;
  font-size: 150%;
  color: white;
}

.concepts {
  text-align: center;
  color: white;
  font-weight: bold;
}

/* staff */

.profile {
  padding-top: 30px;
  padding-bottom: 100px;
}

.title1 {
  width: 250px;
  margin-top: 50px;
}

.col-md-12, .profile2 {
  display: flex;
  margin-top: 20px;
}

.man {
  width: 350px;
  height: 550px;
  margin: 50px;
}

.top-text, .top-text2 {
  margin-top: 50px;
  text-align: left;
}

.top-text h5, .top-text2 h5 {
  font-size: 150%;
}

.top-text h4, .top-text2 h4 {
  font-size: 150%;
  margin-bottom: 15px;
}

.top-text p, .top-text2 p {
  font-size: 120%;
  margin-bottom: 20px;
}

.position {
  border-bottom: 3px solid red;
  margin-bottom: 15px;
}

.comment {
  border: 1.5px solid black;
  padding: 10px 20px;
}

.profile2 {
  margin-left: 25%;
}


/* row */
.row h3 {
  font-size: 350%;
  margin-bottom: 80px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 100px;
}

.row p {
  margin-top: 20px;
}

.row h2 {
  border-bottom: 2px solid red;
}

table {
  margin-top: 30px;
  margin-right: 50px;
}

.address {
  white-space: nowrap;
}

.ratio {
  margin-top: 50px;
  height: 50vh;
}

.time {
  font-size: 80%;
}

footer {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  width: 100%;
  height: 30px;
}


@media screen and (max-width: 599px) {
  header {
    height: 25vh;
    background-repeat: initial;
    background-size: cover;
    background-position: center;
  }

  .header-right a, .header-right p {
    font-size: 60%;
  }

  .fab {
    font-size: 60%;
  }

  .logo {
    width: 100px;
    height: 55px;
    margin: 30px auto 10px;
  }

  .sns a {
    margin: 10px 10px;
  }

  .insta {
    width: 40px;
  }

  .nav li {
    margin: 10px;
    font-weight: bold;
  }

  .nav a {
    font-size: 60%;
  }

  .header-right P {
    margin-top: 5px;
  }

  .main {
    width: 330px;
    margin: 0 auto;
  }

  .profile {
    padding-bottom: 30px;
  }

  .title {
    font-size: 200%;
    margin-bottom: 20px;
  }

  .man {
    width: 200px;
    height: 300px;
    margin: 0 auto;
  }

  .top-image {
    order: 1;
  }

  .col-md-12, .profile2 {
    flex-direction: column;
  }

  .top-text, .top-text2 {
    margin-top: 30px;
    margin-bottom: 30px;
    order: 2;
    text-align: center;
  }

  .top-text h5, .top-text2 h5 {
    font-size: 100%;
  }
  
  .top-text h4, .top-text2 h4 {
    font-size: 90%;
  }
  
  .top-text p, .top-text2 p {
    font-size: 60%;
    white-space: nowrap;
  }

  .profile2 {
    margin-left: initial;
  }

  .contents {
    width: 330px;
    margin: 20px auto 20px; 
  }

  .message {
    font-size: 200%;
    margin-bottom: 10px;
  }
  
  .row h3 {
    font-size: 130%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .row p {
    margin-top: 10px;
    font-size: 80%;
  }
  
  table {
    margin-top: 30px;
    margin-right: 50px;
  }

  .ratio {
    height: 30vh;
  }

  .time {
    font-size: 80%;
  }

}

/* i pad  */
@media screen and (min-width:768px) and ( max-width:1024px) {
  header {
    height: 30vh;
  }

  .header-right a, .header-right p {
    font-size: 90%;
  }

  .fab {
    font-size: 90%;
  }

  .logo {
    width: 200px;
    height: 85px;
    margin: 80px auto 10px;
  }

  .sns a {
    margin: 30px 10px;
  }


  .nav li {
    margin: 10px 20px;
    font-weight: bold;
  }

  .nav a {
    font-size: 90%;
  }

  .header-right P {
    margin-top: 5px;
  }

  .navigation {
    position: initial;
  }

  .main {
    width: 640px;
    margin: 0 auto;
  }

  .contents {
    width: 640px;
    margin: 20px auto 20px; 
  }

  .profile {
    padding-bottom: 30px;
  }

  .title {
    font-size: 200%;
    margin-bottom: 20px;
  }

  .man {
    width: 200px;
    height: 300px;
    margin: 0 auto;
  }

  .top-image {
    order: 1;
  }

  .col-md-12, .profile2 {
    flex-direction: column;
  }

  .top-text, .top-text2 {
    margin-top: 30px;
    margin-bottom: 30px;
    order: 2;
    text-align: center;
  }

  .top-text h5, .top-text2 h5 {
    font-size: 100%;
  }
  
  .top-text h4, .top-text2 h4 {
    font-size: 90%;
  }
  
  .top-text p, .top-text2 p {
    font-size: 90%;
    white-space: nowrap;
  }

  .profile2 {
    margin-left: initial;
  }

  .message {
    font-size: 200%;
    margin-bottom: 10px;
  }

  .row h3 {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .row p {
    margin-top: 10px;
    font-size: 70%;
  }

  table {
    margin-top: 30px;
    margin-right: 50px;
  }

  .ratio {
    margin-top: 30px;
    margin-left: 20px;
    height: 300px;
  }
  
  .time {
    font-size: 90%;
  }

  .address {
    white-space: nowrap;
  }

  .ratio {
    height: 35vh;
  }

  

}

