/* リセットCSS */
body {
  text-align: center;
}

.table1 {
  border-collapse: collapse;
  width: 100%;
}

/* container */
.container {
  width: 100%;
}

.lineup li {
  list-style: none;
  font-size: 150%;
  margin-bottom: 30px;
}

.lineup ul {
  margin-bottom: 80px;
}

.lineup h1{
  font-size: 250%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.lineup h2{
  font-size: 200%;
  margin-bottom: 3%;
  margin-top: 80px;
}

.item5  {
 margin-bottom: 5%;
}

.iteminfo{
  list-style: none;
  margin: 0 auto;
  display: inline-block;
}

.text {
  font-size: 180%;
  border-style: groove;
  border-color: silver;
  padding: 5% 0;
  white-space: nowrap;
  color: blue;
  margin-bottom: 100px;
}

.text-warning {
  font-size: 150%;
}

