body {
  text-align: center;
}

/* ここからページ部分 */
.explain-title{
  border-bottom: 3px solid red;
  display: inline-block;
  margin-top: 50px;
}

.explain p{
  margin: 15px 0 40px 0;
  font-size: 130%;
}

.explain {
  text-align: center;
}

.last{
  text-align: center;
  font-size: 130%;
}

.image {
  height: 500px;
  width: 900px;
  margin: 50px auto 100px;
}


@media screen and (max-width: 599px) {
  .explain-title {
    font-size: 90%;
    margin-top: 30px;
  }

  .explain p, .last {
    font-size: 70%;
    white-space: nowrap;
  }

  .explain p {
    margin-bottom: initial;
  }

  .image {
    width: 300px;
    height: 150px;
    margin: 20px auto 30px;
  }



}

/* i pad  */
@media screen and (min-width:768px) and ( max-width:1024px) {  
  .explain-title {
    font-size: 150%;
    margin-top: 30px;
  }
  
  .explain p, .last {
    font-size: 100%;
    white-space: nowrap;
  }

  .image {
    width: 600px;
    height: 350px;
    margin: 40px auto 60px;
  }
}